// Please do not change the order of the numbered sections!
// The expected order is: 1. Parameters - 2. Profiles - 3. Process -  4. Executor

// 1. Parameters

params {
    executor = 'google-lifesciences'
    errorStrategy = { task.attempt == params.maxRetries ? params.errorStrategy : task.exitStatus in [3,9,10,14,143,137,104,134,139] ? 'retry' : params.errorStrategy }

    // max default resources for execution in Google Cloud Platform
    max_memory = 64.GB
    max_cpus = 16
  }

// 2. google

// CAUTION! Only update the default value in nextflow.config
// To override defaults provide as parameters with --gls_bootDiskSize, --gls_preemptible etc, --zone etc
google {
    lifeSciences.bootDiskSize = params.gls_bootDiskSize
    lifeSciences.preemptible = params.gls_preemptible
    zone = params.zone
    network = params.network
    subnetwork = params.subnetwork
}

// 3. process scope for defining withName
process {
    withName: 'step_1' {
        disk = "100 GB"
        cpus = {check_max(16, 'cpus')}
        memory = {check_max(60.GB, 'memory')}
    }
}

docker.enabled = true
