manifest {
    description = 'Template Nextflow'
    mainScript  = 'main.nf'
}

params {
    // input options
    input = false
    outdir = 'results'

    // optional
    help = false

    // resources
    max_cpus = 2
    max_memory = 4.GB
    max_time = 8.h
}

profiles {
  standard {includeConfig 'conf/google.config'}
  docker { docker.enabled = true }
  base {includeConfig 'conf/base.config'}
  google {includeConfig 'conf/google.config'}
  test {includeConfig 'conf/test.config'}
  local {includeConfig 'conf/test.config'}
}

process {
  withName: step_1 {
    container = 'quay.io/lifebitai/step_1'
  }
  withName: report {
    container = 'quay.io/lifebitai/report'
  }
}